.character{
  justify-content: center;
  align-items: center;
  margin: auto;
}

.imageContainer{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loaderContainer{
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.loader{
  color: #fff;
}

