.character{
  justify-content: center;
  align-items: center;
  margin: auto;
}

.characterText{
  text-align: center;
  margin: auto; 
  color: #3f51b5;
  margin-top: 5px;
  font-weight: bold;
  }

.imageContainer{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loaderContainer{
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.loader{
  color: #3f51b5;
}

