.detailContainer{
  width: 50%;
  margin: auto;
}

.imageContainer{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loaderContainer{
  height: 50%;
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
